/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,label,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}ol,ul,li{list-style:none;margin:0;padding:0}caption,th{text-align:left}q:before,q:after{content:''}a{text-decoration:none}
/* sandbox styles */
.clearfix:after {
	clear: both;
	content: "";
	display: block;
}
body {
	color: #333;
	background: #e6e6e6;
	-webkit-font-smoothing: antialiased;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	line-height: 1.4em;
}
#header {
	background: url(http://tinaciousdesign.com/images/black_mamba.png) repeat black;
	border-bottom: 1px solid #FF008C;
	letter-spacing: -2px;
	font-weight: 700;
	padding-top: 10px;
	margin-bottom: 30px;
}
#header p {
	float: right;
	margin: 1.2em 0.5em 0 0.5em;
	text-align: right;
	font-size: 2.1em;
	clear: none;
	color: #fff;
}
.content {
	max-width: 960px;
	margin: 0 auto;
}
h1 {
	font-size: 2.2em;
	letter-spacing: -2px;
	margin-bottom: 0.5em;
}
a {
	color: #ff008c;
}
#sample_goal {
	clear: both;
	width: 70%;
	margin: 30px auto;
}
a.button {
	width: 200px;
	margin: 50px auto;
	background: #ff008c;
	color: white;
	border-radius: 5px;
	padding: 5px 13px;
	display: block;
	font-weight: 700;
	text-align: center;
}